.container__cart {
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: antiquewhite;
    /* z-index: -1000; */

}

.container__cart-image {
    /* height: 200px; */
}

.container__cart-image img {
    width: 100px;
    height: auto;
    position: relative;
    z-index: 10000000000000000;
}

.container__cart-all {
    display: flex;
    flex-direction: column;
    z-index: 1000000;
}

.container__offLine {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.container__live {
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.container__button {
    background-color: rgb(111, 0, 255);
    border-radius: 5px;
    color: wheat;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
    border: none;
}

.container__button--red {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;

    color: wheat;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
    border: none;
}

.container__color {
    color: black;
    font-weight: bolder;
    font-size: 13px;
    font-family: sans-serif;
}