.container__cart {
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: antiquewhite;
    /* z-index: -1000; */
    border-radius: 10px;

}

.container__cart-image {
    /* width: 100px; */
    position: relative;
    /* border: 2px solid rgb(163, 160, 160); */
    display: flex;
    align-items: center;


}

.container__cart-image img {
    width: 100px;
    height: auto;
    z-index: 1000000;
    border-radius: 5px;

}

.container__cart-all {
    display: flex;
    flex-direction: column;
    z-index: 1000000;
    width: 400px;
}

.container__offLine {
    width: 8px;
    height: 8px;
    background-color: rgb(194, 45, 40);
    border-radius: 50%;
    z-index: 1000000000000000000000000000000;
    top: 0;
    position: absolute;
    right: 0;
}

.container__live {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    z-index: 1000000000000000000000000000000;
    top: 0;
    position: absolute;
    right: 0;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.container__button {
    background-color: rgb(111, 0, 255);
    border-radius: 5px;
    color: wheat;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
    border: none;
}

.container__button--red {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;

    color: wheat;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
    border: none;
}

/* //////////////////////////////////////// */

.container__color {
    color: black;
    font-weight: bolder;
    font-size: 13px;
    font-family: sans-serif;
}
.container__favorite{
    font-size: 30px;
    cursor: pointer;
}