.container__search {
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.container__search::placeholder {
    background: url("https://www.iconarchive.com/download/i60242/zerode/plump/Search.ico");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
}

.container__search:active {
    border: none;
    background-color: rgba(25, 0, 255, 0.295);
}

.container__search--all {
    display: flex;
    gap: 14px;
}

.container__user {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}

.container__userName {
    font-size: 18px;
    color: rgb(17, 0, 255);
    font-weight: 500;
    cursor: pointer;
}

.container__logout {
    color: black;
    font-weight: 500;
    cursor: pointer;
}