* {
  margin: 0;
  padding: 0;

}



.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container__header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.container__header button {
  cursor: pointer;
  border: none;
  width: 200px;
  background-color: black;
  color: wheat;
  font-family: sans-serif;
  border-radius: 10px;
}

/* .container__formHead {
  width: 100%;
  display: flex;
  justify-content: center;
} */